<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head.ejs') %> 
  </head>
  <body>
    
    <div class="container">
      <%- include('partials/_navbar.ejs') %> 
      <div class="dashboard">
        <%- include('pages/dashboard-header.ejs') %> 
        <%- include('pages/dashboard-body.ejs') %> 
        <%- include('pages/features.ejs') %> 
      </div><!-- dashboard -->
    </div><!-- container -->
    
  </body>
</html>